<!DOCTYPE html>
<html>
	<head>
		<title><!--@TABNAME--></title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="../media/gotcha.jpg" type="image/x-icon">
		<link rel="stylesheet" href="../css/theme.css">
		<link rel="stylesheet" href="../css/blog.css">

		<link rel="stylesheet" href="../highlighter/theme.css">
		<script src="https://unpkg.com/@highlightjs/cdn-assets@11.11.1/highlight.min.js"></script>
		<script src="../highlighter/luau.js"></script>
		<script>hljs.highlightAll();</script>
	</head>
	<body>
		<main>
			<!--@CONTENT-->
		</main>
		<footer>
			<b><a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 1.0 Universal</a></b>© 2025 AnotherSubatomo (anosuba). Powered by pure HTML, CSS, & a little JS.
		</footer>
	</body>
</html>